@using eTickets.Data.ViewModels
@model ShoppingCartVM

@{ 
    ViewData["Title"] = "Shopping cart summary";
}

<div class="ros">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your Shopping car summary</h2>
        </div>

        <table class="table">
          <thead>
              <tr>
                  <th>Selected amount</th>
                  <th>Movie</th>
                  <th>Price</th>
                  <th>Subtotal</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
            {
              <tr>
                  <td class="align-middle">@item.Amount</td>
                  <td class="align-middle">@item.Movie.Name</td>
                  <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                  <td class="align-middle"></td>

              </tr>
            }
          </tbody>  
          <tfoot></tfoot>  
        </table>
    </div>
</div>

